.container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.items {
  display: flex;
  flex-basis: 70%;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  border: 2px solid #006;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 5px;
  width: 200px;
}

.item:hover {
  border: 2px solid lime;
}

.item .item__sku {
  display: none;
}

.item .item__title {
  flex-grow: 1;
  padding: 10px;
  text-align: center;
  font-family: sans-serif;
}

.item .item__image {
  width: 50%;
  margin: auto;
}

.item .item__add {
  background-color: #900;
  color: #fff;
  font-weight: bold;
  border: 0;
  cursor: pointer;
  margin: 0;
  padding: 5px;
}

.item .item__add:hover {
  background: #c00;
}

.cart {
  display: flex;
  flex-basis: 30%;
  flex-flow: column wrap;
  border: 2px solid #006;
  border-radius: 7px;
  padding: 10px 20px;
  background: #ffc;
}

.cart .cart__title {
  flex-basis: 1;
  font-size: 16pt;
  text-align: center;
  font-weight: bold;
  color: #006;
  margin-bottom: 20px;
}
